.skipMainContent {
  background-color: black;
  color: white;
  height: 30px;
  opacity: 0;
  padding: 8px;
  transform: translateY(-100%);
  transition: transform 0.3s;
}

.skipMainContent:focus {
  opacity: 1;
  transform: translateY(0%);
}

.form-control[type="search"] + .btn.btn-outline-success {
  color: #006400; /* Dark green color value */
}
